.form {
    max-width: 621px;
    min-width: 530px;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 3px solid rgba(221, 192, 12, 0.4);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
    padding: 25px 0;
    margin: 30px auto 0 auto;
}

.fromTitle {
    color: #005379;
    width: 345px;
    border-bottom: 1px solid #005379;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 45px;
    transition: all .2s;
}

.fromTitle span {
    color: #DDC00C;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 260px;
    margin-bottom: 30px;
    position: relative;
}

.inputWrapper:last-child {
    margin-bottom: 48px;
}

.input {
    background: #FFFFFF;
    height: 38px;
    padding: 7px 20px;
    border-radius: 5px;
    border: none;
    line-height: inherit;
}

.input:focus {
    outline: 2px solid transparent;
}

.btn {
    width: 260px;
    border-radius: 5px;
    background: #DDC00C;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 12px 0;

    cursor: pointer;
}

.inputAnimeBorder,
.btnAnimeBorder {
    outline: 2px solid transparent;
    animation: border-spin .5s linear infinite;
}

@keyframes border-spin {
  0% {
    transform: scale(1);
    outline-color: #005379;
  }
  50% {
    outline-color: #DDC00C;
    transform: scale(1.1);
  }
  100% {
    outline-color: #005379;
    transform: scale(1);
  }
}

.error {
    position: absolute;
    bottom: -20px;
    left: 5px;
    font-size: 14px;
    color: red;
}

@media screen and (max-width: 768px) {
    .form {
        padding: 10px;
        background: #F5F5F5;
        min-width: initial;
    }
}

@media screen and (max-width: 420px) {
    .fromTitle {
        width: 290px;
        font-size: 25px;
    }
}