.imageWrapper {
    background-color: rgba(17, 17, 17, 0.2);
    position: relative;
    z-index: 99999;
    height: 100vh;
    width: 100%;
}

.imageWrapper img {
    position: absolute;
    z-index: 99;
}