.from {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 540px;
    width: 100%;
    border-radius: 26px;
    height: fit-content;
}

.formPopup {
    border-radius: 0 26px 26px 0;
    height: 100%;
    gap: 10px;
    padding: 10px 20px;
}

.border {
    border: 4px solid #2B94C8;
}

.formTitle {
    color: #154BA1;
    font-size: 24px;
    font-weight: 500;
    white-space: nowrap;
    width: min-content;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.formTitle a {
    display: flex;
    align-items: center;
}

.wrapperRowPanel {
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.wrapperRowPanel img {
    width: 100%;
    object-fit: cover;
}

.wrapperRowPanel span {
    color: #154BA1;
}

.inputList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.checkboxSections {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.checkboxes {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    gap: 20px;
}

.checkboxTitle {
    color: #154BA1;
}

.checkboxGroups {
    display: flex;
    gap: 10px;
}

.checkboxeLine {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.additionalNotes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.additionalNotesTitle {
    color: #154BA1;
}

.additionalBlocks {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.additionalBlocks textarea {
    width: 100%;
    height: 60px;
    resize: none;
    padding: 10px;
    background: #FFFFFF;
    border: none;
    border-radius: 10px;
    color: #154BA1;
}

.additionalBlocks textarea::placeholder {
    color: rgba(21, 75, 161, 0.60);
    font-size: 14px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    border-radius: 10px;
    height: 38px;
    padding: 10px;
    background: #FFC822;
    cursor: pointer;
    transition: all .2s;
}

.btn span {
    color: #FFFFFF;
    font-weight: 700;
}

.btn span,
.btn svg {
    transition: all .2s;
}

.btn:hover {
    opacity: 0.7;
}

.btn:hover svg {
    transform: translateX(65px);
}

.btn:hover span {
    transform: translateX(-25px);
}

.btn:active {
    transform: translateY(1px) scale(0.99);
}

.btn:active svg,
.btn:active span {
    transform: translateX(0px);
}

@media screen and (max-width: 1024px) and (min-width: 600px) {
    .additionalBlocks textarea {
        min-width: 250px !important;
    }
}

@media screen and (max-width: 600px) {
    .additionalNotesTitle,
    .checkboxTitle {
        font-size: 16px;
    }
    .formTitle {
        font-size: 20px;
    }
}

@media screen and (max-width: 500px) {
    .inputList {
        flex-direction: column;
    }

    .additionalBlocks {
        flex-direction: column;
        align-items: center;
    }

    .additionalBlocks textarea {
        min-width: 100% !important;
    }

    .checkboxSections {
        flex-direction: column;
    }

    .checkboxeLine,
    .checkboxes {
        width: 100%;
    }

    .formTitle {
        font-size: 20px;
        flex-direction: column;
    }
}