
.latestPosts {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 400px;
}

.postsTitle {
    margin-top: 30px;
    color: #DDC00C;
    font-weight: 500;
    font-size: 18px;

    display: flex;
    align-items: center;
    gap: 5px;
    text-transform: uppercase;
} 

.wrapperPostsCards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.postsCard {
    background: #F4F7FB;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.postsCardImg {
    max-height: 340px;
    object-fit: cover;
}

.postsCardContent {
    padding: 0px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.viewAllSlice {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.viewAllSlice p {
    text-transform: uppercase;
    color: #DDC00C;
    font-weight: 500; 
    font-size: 20px;
}

.viewAllSlice a {
    color: rgba(0, 59, 86, 0.6);
    font-weight: 500;
    font-size: 20px; 
}

.postsCardBody {
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    height: 150px;
    overflow: hidden;
}

.postsCardBody p,
.postsCardBody div,
.postsCardBody h3 {
    color: #041A44;
    font-weight: 300;
    font-size: 14px;
    color: rgba(0, 41, 122, 0.8);
}

.postsCardReadMore {
    color: #DDC00C;
    font-weight: 700;
    font-size: 20px; 
    display: flex;
    align-items: center;
    gap: 5px;
    max-width: fit-content;
}

.calendarSlice {
    display: flex;
    align-items: center;
    gap: 15px;
}

.defaultText {
    color: rgba(0, 59, 86, 0.6);
    font-weight: 500; 
}

.between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.viewAll {
    color: rgba(0, 41, 122, 0.6);
    font-size: 15px;
    font-weight: 500;
}

@media screen and (max-width: 991px) {
    .latestPosts {
        display: none;
    }    
}