.banner {
    background-color: #001D4A;
    height: fit-content;
    position: relative;
}

.image {
    width: 100%;
    max-height: 200px;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.content {
    position: absolute;
    top: 50%;
    transform: translateY(-32%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    gap: 30px;
}

.title {
    font-size: 32px;
    font-weight: 700;
    color: #FFFFFF;
}

.content .link {
    display: flex;
    align-items: center;
    gap: 5px;
}

.content .link a {
    color: #29AAE2;
    font-size: 14px;
    font-weight: 700;
}

.content .link span {
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
}

@media screen and (max-width: 1920px) {
    .image {
        object-fit: contain;
    }
}

@media screen and (max-width: 1200px) {
    .content {
        padding: 20px 0;
        justify-content: space-between;
        gap: 0px;
    }
}

@media screen and (max-width: 900px) {
    .content {
        padding: 10px 0;
    }
}