.iframeWrapper {
    width: 100%;
}

.form {
    margin: 60px 0;
}

.iframe {
    margin-top: 20px;
}

.noteParagraph {
    text-align: center;
    color: #001D4A;
}

.noteParagraph a {
    color: #29AAE2;
}

.noteBtn {
    margin-top: 20px;
    background-color: #29AAE2;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 700;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    height: 38px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .note {
        margin-top: 20px;
    }
}