.section {
    margin: 50px 0;
}

.title {
    color: #DDC00C;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 20px;
}

.subTitle {
    font-size: 26px;
    color: #072765;
    margin-bottom: 20px;
}

.rowNode {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.rowNode:not(:last-child) {
    margin-bottom: 20px;
}

.textNode {
    background: #F5F5F5;
    border: 1px solid rgba(187, 34, 51, 0.15);
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.textNode p {
    color: #072765;
    line-height: 24px;
    line-height: 28px;
}

.textNode p a {
    text-decoration: underline;
    color: #DDC00C !important;
    white-space: nowrap;
}

.image {
    object-fit: contain;
    max-width: 470px;
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 991px) {
    .rowNode {
        flex-direction: column;
    }
    .image {
        max-width: 100%;
        max-height: initial;
        object-fit: contain;
    }
}