.footer {
    background: #FFFFFF;
    padding: 50px 0 42px 0;
}

.footerContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.linksGroup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.title {
    display: flex;
    align-items: center;
    gap: 5px;
    min-height: 30px;
    color: #32ADDC;
    font-size: 24px;
    font-weight: 500;
    white-space: nowrap;
    transform: translateX(-17px);
}

.link {
    color: rgba(1, 47, 89, 0.80);
    font-size: 14px;
    position: relative;
    transform: translateX(15px);
    line-height: 24px;
    transition: all .2s;
}

.link:hover {
    color: #29AAE2;
}

.link:hover::before {
    background-color: #29AAE2;
}

.link::before {
    content: '';
    position: absolute;
    left: -15px;
    top: 55%;
    transform: translateY(-50%);
    width: 5px;
    height: 5px;
    border-radius: 999px;
    background-color: rgba(1, 47, 89, 0.80);
}

.logo {
    max-width: 160px;
    width: 100%;
    max-height: 60px;
    height: 100%;
}

.socialLinks {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.socialLinks a,
.socialLinks svg {
    width: 30px;
    height: 30px;
}

.contact {
    color: rgba(1, 47, 89, 0.80);
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 5px;
    line-height: 24px;
}

.contact span {
    color: #32ADDC;
    font-size: 14px;
    font-weight: 500;
}

.contactGroup .title {
    transform: translateX(0px);
}

.termsNode {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 0 0;
}

.termsNode span {
    font-size: 14px;
    color: #012F59;
}

.termsNode div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.termsNode a {
    color: #32ADDC;
    font-size: 14px;
    font-weight: 500;
    text-decoration-line: underline;
    white-space: nowrap;
}

.termsNode div span {
    color: rgba(255, 255, 255, 0.40);
}

@media screen and (max-width: 768px) {
    .socialLinks {
        display: flex;
    }

    .footer {
        padding-top: 0;
    }

    .termsNode {
        justify-content: center;
        gap: 20px;
    }

    .contact i,
    .contactGroup .title,
    .linksGroup {
        display: none;
    }

    .contactGroup {
        display: flex;
        align-items: center;
    }

    .footerContent {
        padding-bottom: 30px;
        justify-content: center;
    }

    .termsNode span {
        text-align: center;
        line-height: 22px;
        white-space: nowrap;
        font-size: 12px;
    }

    .contact span {
        text-align: center;
    }

    .termsNode {
        padding: 0;
    }
}